body{
  background-color: black;
}
.game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-color: black;
  background-image: url('ressources/img/pacman-board.png');
  background-size: 745px 775px;
  background-repeat: no-repeat;
  background-position: center;
}
.container {
  /* width: 695px;
  height: 745px; */
  margin: 50px auto;
  display: grid;
  grid-template-rows: 45px 55px 45px 30px 45px 30px 45px 30px 45px 30px 45px 30px 45px 30px 45px 30px 45px 30px 45px;
  grid-template-columns: 45px 45px 35px 45px 35px 45px 35px 45px 35px 45px 35px 45px 35px 45px 35px 45px 45px;
 /*  background-color: black;
  border: 15px solid #5657ff; */
  border-radius: 15px 15px;
}
.exit-right{
  border-right: 15px solid black;
  margin-right: -15px;
}
.exit-left{
  border-left: 15px solid black;
  margin-left: -15px;
}
/* .wall{
  background-color: #5657ff;
} */
.empty.pacman{
  background-size: 29px 29px;
  background-repeat: no-repeat;
  background-position: center;
}
.pacman-left{
  background-image: url('ressources/img/pacman-left.gif');
}
.pacman-right{
  background-image: url('ressources/img/pacman-right.gif');
}
.pacman-up{
  background-image: url('ressources/img/pacman-up.gif');
}
.pacman-down{
  background-image: url('ressources/img/pacman-down.gif');
}
.dot{
  background-image: url('ressources/img/dot-pacman.png');
  background-size: 15px 15px;
  background-position: center center;
  background-repeat: no-repeat;
}
.big-dot{
  background-image: url('ressources/img/dot-pacman.png');
  background-size: 45px 45px;
  background-position: center center;
  background-repeat: no-repeat;
}
.score{
  display: flex;
  justify-content: center;
}
h2{
  padding: 20px;
  color: #fff;
  font-size: 1.7em;
}