*{
  font-family: 'Press Start 2P', Helvetica;
  text-align: center;
  line-height: 1.5;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

a{
  color: #000;
  text-decoration: none;
}
a:hover{
  color: blue;
}

.minesweeperButton a:hover{
  color:yellow;
}
.hanoiButton a:hover{
  color: green;
}
.slideButton a:hover{
 color: cyan;
}
.connect-4Button a:hover{
  color: red
}
.game{
  padding: 1rem;
}
.game a{
  color: #fff;
}
.games{
  background: #000;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.games a{
  display: block;
  padding:5vh 0;
}

.games h2{
  padding: 0;
  margin: 0;
}

button{
  padding:.5rem;
  margin: .5rem;
  border-radius: .1rem .1rem;
}

header, footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

header{
  min-height: 50px;
}
footer{
  min-height: 70px;
}
.index p {
  margin: 0;
}

.header_index, .footer_index{
  height:100%;
}

.header__game, .footer__game{
  font-family: 'Press Start 2P', Helvetica;
  background: #000;
  color: #fff;
  height: 5rem;
  line-height: 1.5;
}
.header__game{
  position: relative;
}
.header__game .return{
  position: absolute;
  left: 1rem;
}
.header__game svg{
  fill: #fff;
}
.header__game svg:hover{
  fill: yellow;
}
.footer__game a {
  color: #fff;
}

.footer__game a:hover{
  color: yellow;
}
.footer__game{
  font-size: .8rem;
}
main:not(.minesweeper,.connect-4){
  margin: 5% 1rem;
}

.return{
  width: 32px;
  height: 32px;
}